<a href="https://colab.research.google.com/github/cepdnaclk/e19-CO544-Online-Shoppers-Purchasing-Intention/blob/main/Code/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/cepdnaclk/e19-CO544-Online-Shoppers-Purchasing-Intention/main/DataSets/online_shoppers_intention.csv')
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [3]:
X = df.drop(['Revenue'], axis=1) # Features
y = df['Revenue'] # Label
X.shape, y.shape

((12330, 17), (12330,))

In [4]:
# Change bool and object value using label encoder
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
X_enc = X.copy()
y_enc = y.copy()
for col in X.columns:
    if X[col].dtypes == 'object' or X[col].dtypes == 'bool':
        X_enc[col] = lb.fit_transform(X[col].values)

y_enc = lb.fit_transform(df['Revenue'])
X_enc

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,2,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,2,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,2,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,2,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,1,4,6,1,1,2,1
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,7,3,2,1,8,2,1
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,7,3,2,1,13,2,1
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,7,2,2,3,11,2,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,7,3,2,1,2,0,1

Now all the columns have numerical values, however we cant use these values. Beacuse for nominal categorical variables there is no numerical sorting relation between the variables (ProductRelated, Operating Systems, Browser, Region,  VisitorType, Month).

In [5]:
# Display unique values after encoding
print("ProductRelated:")
print(X_enc["ProductRelated"].unique())
print("Number of unique values:", X_enc["ProductRelated"].nunique())

print("\nOperatingSystems:")
print(X_enc["OperatingSystems"].unique())
print("Number of unique values:", X_enc["OperatingSystems"].nunique())

print("\nBrowser:")
print(X_enc["Browser"].unique())
print("Number of unique values:", X_enc["Browser"].nunique())

print("\nRegion:")
print(X_enc["Region"].unique())
print("Number of unique values:", X_enc["Region"].nunique())

print("\nVisitorType:")
print(X_enc["VisitorType"].unique())
print("Number of unique values:", X_enc["VisitorType"].nunique())

print("\nMonth:")
print(X_enc["Month"].unique())
print("Number of unique values:", X_enc["Month"].nunique())

ProductRelated:
[  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]
Number of unique values: 311

OperatingSystems:
[1 2 4 3 7 6 8 5]
Number of unique values: 8

Browser:
[ 1  2  3  4  5  6  7 10  8  9 12 13 11]
Number of unique values: 13

Region:
[1 9 2 3 4 5 6 7 8]
Number of unique values: 9

VisitorType:
[2 0 1]
Number of unique values: 3

Month:
[2 5 6 8 4 3 0 7 9 1]
Number of unique values: 10

In [6]:
dummiesOfProductRelated = pd.get_dummies(X_enc.ProductRelated, prefix="ProductRelated", drop_first=True).astype(int)
dummiesOfOperatingSystems = pd.get_dummies(X_enc.OperatingSystems, prefix="OperatingSystems", drop_first=True).astype(int)
dummiesOfBrowser = pd.get_dummies(X_enc.Browser, prefix="Browser", drop_first=True).astype(int)
dummiesOfRegion = pd.get_dummies(X_enc.Region, prefix="Region", drop_first=True).astype(int)
dummiesOfVisitorType = pd.get_dummies(X_enc.VisitorType, prefix="VisitorType", drop_first=True).astype(int)
dummiesOfMonth = pd.get_dummies(X_enc.Month, prefix="Month", drop_first=True).astype(int)

In [7]:
X_enc = X_enc.drop(['ProductRelated', 'OperatingSystems', 'Browser', 'Region', 'VisitorType', 'Month'],axis='columns')

In [8]:
merged = pd.concat([X_enc, dummiesOfProductRelated, dummiesOfOperatingSystems, dummiesOfBrowser, dummiesOfRegion, dummiesOfVisitorType, dummiesOfMonth], axis = 'columns')
merged

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,TrafficType,...,VisitorType_2,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9
0,0,0.0,0,0.0,0.000000,0.200000,0.200000,0.000000,0.0,1,...,1,0,1,0,0,0,0,0,0,0
1,0,0.0,0,0.0,64.000000,0.000000,0.100000,0.000000,0.0,2,...,1,0,1,0,0,0,0,0,0,0
2,0,0.0,0,0.0,0.000000,0.200000,0.200000,0.000000,0.0,3,...,1,0,1,0,0,0,0,0,0,0
3,0,0.0,0,0.0,2.666667,0.050000,0.140000,0.000000,0.0,4,...,1,0,1,0,0,0,0,0,0,0
4,0,0.0,0,0.0,627.500000,0.020000,0.050000,0.000000,0.0,4,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,1783.791667,0.007143,0.029031,12.241717,0.0,1,...,1,1,0,0,0,0,0,0,0,0
12326,0,0.0,0,0.0,465.750000,0.000000,0.021333,0.000000,0.0,8,...,1,0,0,0,0,0,0,1,0,0
12327,0,0.0,0,0.0,184.250000,0.083333,0.086667,0.000000,0.0,13,...,1,0,0,0,0,0,0,1,0,0
12328,4,75.0,0,0.0,346.000000,0.000000,0.021053,0.000000,0.0,11,...,1,0,0,0,0,0,0,1,0,0
12329,0,0.0,0,0.0,21.250000,0.000000,0.066667,0.000000,0.0,2,...,0,0,0,0,0,0,0,1,0,0

In [9]:
print("Before OverSampling, counts of label '1': {}".format(sum(y == 1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y == 0)))

# import SMOTE module from imblearn library
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 2)
X_train_res, y_train_res = sm.fit_resample(merged,y_enc.ravel())

print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

Before OverSampling, counts of label '1': 1908
Before OverSampling, counts of label '0': 10422

After OverSampling, the shape of train_X: (20844, 359)
After OverSampling, the shape of train_y: (20844,)

After OverSampling, counts of label '1': 10422
After OverSampling, counts of label '0': 10422

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_train_res, y_train_res, test_size =0.3)

In [11]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((14590, 359), (14590,), (6254, 359), (6254,))

<h2> Training model with logistic regression

In [12]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(solver='liblinear')
lr.fit(x_train, y_train)

LogisticRegression(solver='liblinear')

In [13]:
import pickle

with open ('model_logistic_regression', 'wb') as f:
  pickle.dump(lr, f)

In [14]:
from sklearn.metrics import f1_score, recall_score, precision_score, accuracy_score




pred_train = lr.predict(x_train)
lr_train = accuracy_score(y_train,pred_train)
lr_train

0.9234407128169979

In [15]:
pred_test = lr.predict(x_test)
lr_test = accuracy_score(y_test,pred_test)
lr_test

0.9206907579149345

In [16]:
f1 = f1_score(y_test, pred_test)
recall = recall_score(y_test, pred_test)
precision = precision_score(y_test, pred_test)

print("F1 Score:", f1)
print("Recall:", recall)
print("Precision:", precision)

F1 Score: 0.9200257981296357
Recall: 0.9077314667515113
Precision: 0.9326577312847336

In [17]:
#training accuracy
print('Logistic regression training accuracy' ,lr_train)
#Cross validation score
print('Logistic regression testing validation score', lr_test)

Logistic regression training accuracy 0.9234407128169979
Logistic regression testing validation score 0.9206907579149345

<h2> Train a model with SVC algorithm

In [18]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(x_train, y_train)
sv_train = svc.score(x_train, y_train)
sv_test = svc.score(x_test, y_test)

In [19]:
#training accuracy
print('svc training accuracy' ,sv_train)
#Cross validation score
print('svc testing validation score', sv_test)

svc training accuracy 0.7203564084989719
svc testing validation score 0.7297729453149984

In [20]:
from sklearn.metrics import f1_score, recall_score, precision_score

# Predicting with the trained SVC model
svc_pred_test = svc.predict(x_test)

# Calculating the accuracy score on test data
sv_test_accuracy = svc.score(x_test, y_test)

# Calculating F1 score, recall, and precision
svc_f1 = f1_score(y_test, svc_pred_test)
svc_recall = recall_score(y_test, svc_pred_test)
svc_precision = precision_score(y_test, svc_pred_test)

print("SVC Test Accuracy:", sv_test_accuracy)
print("SVC F1 Score:", svc_f1)
print("SVC Recall:", svc_recall)
print("SVC Precision:", svc_precision)

SVC Test Accuracy: 0.7297729453149984
SVC F1 Score: 0.7331859804231134
SVC Recall: 0.7387846006999682
SVC Precision: 0.7276715763083673

In [21]:
with open ('model_SVM' , 'wb') as f:
  pickle.dump(svc, f)